{% extends 'recommend/base.html'%}
{% block title %}Profile{% endblock %}
{% block body %}
<div class="container">
 <div class="row">
   <div class="col-md-offset-6 col-sm-offset-5">
    <h3> change profile </h3>
   </div>
 
   {% if error_message %}
       <p><strong>{{ error_message }}</strong></p>
   {% endif %}
 </div>
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-offset-2">
                      <table class="table table-bordered table-hover">
                         <tr>
                            <td> name</td>
                            <td>{{request.user}}</td>
                         </tr>
                         <tr>
                            <td>email</td>
                            <td>{{request.user.email}}</td>
                         </tr>
                      </table>
                  
                    
           
    </div>

</div>

{% endblock %}

{% block footer %}

{% endblock %}